/** Nav Bar CSS */

.navbar-inverse {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color:red;
}
.header-image {
  background-color: red;
}

.header-carousel {
  position: absolute;;
  top: 0;
}


/** End Nav Bar CSS */
