/** Nav Bar CSS */

.navbar-inverse {
  background-color: black;
}

.header-image .navbar-inverse {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 999;
  position: absolute;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color:red;
}
.header-image {
  background-color: black;
}
@media only screen and (min-width: 1920px) {
  .header-carousel {
    /**position: absolute; **/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1920px; /** This must be set to the width of the images */
    opacity: 0.6;
  }
}

.header-carousel {
  /**position: absolute; **/
  opacity: 0.6;
}
@media only screen and (min-width: 728px) {
  .navbar-nav > li > a {
     line-height: 30px;;
  }
}
.top-nav-bar {
  height: 35px;
}
.left-col {
  width: 75%;
  display: inline-block;
  text-align: right;
  background-color: white;
  height: 35px;
  line-height: 35px;
  padding-right: 10px;
  padding-top: 4px;
}

.right-col {
  width: 25%;
  display: inline-block;
  text-align: center;
  float: right;
  background-color: red;
  height: 35px;
  line-height: 35px;
  color: white;
}

/** End Nav Bar CSS */

/** Content Section's CSS */
.theme-row {
  padding-top: 20px;
  padding-bottom: 20px;
  color: red;
}

.about-us-background {
  background-color: #cccccc;
}

.about-us-row {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.about-us-text {
  font-size: 16px;
  line-height: 20px;
}

.about-us-header {

}

.about-us-sub-header {

}

.about-us-circle-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}

.venue-us-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.venue-background {
  background-image: url("/themes/tedxwvu/images/inno-52.jpg");
  background-size: cover;
  background-attachment:fixed;
}
.venue-overlay {
  background-color: black;
  opacity: 0.8;
  margin-top: 700px;
  /**height: 100%;*/
  height: 160px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.venue-text {
  opacity: 1.0;
  color: white;
  text-align: center;
}
.location-map {
  height:350px;
}
.footer-background {
  background: black;
}
.footer-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-icons {
  color: white;
  padding-right: 10px;
}
.social-icon-row {
  padding-left: 40px;
}

.social-icon-row a:hover {
  color: red !important;
}

.social-icon-row a {
  color: white;
}

.bottom-footer {
  background-color: red;
  text-align: center;
  color: black;
}

.theme-image {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.theme-text {
  font-size: 16px;
  line-height: 30px;
}

.second-theme-image {
  max-height: 300px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.about-us-header h1 {
  margin-bottom: 3px;
}
.about-us-sub-header h2 {
  margin-top: 0px;
}
/** End Content Section CSS */

/** Twitter Widget Styles */
.timeline-Header, .timeline-InformationCircle-widgetParent {
  display: none;
}
/** End Twitter Widget Styles */

/** Social Icons At Top */
.black-icons a {
  color: black;
}
.black-icons a:hover{
  color: red;
}

/** End Social Icons at Top */


/** Bottom Footer Styles*/
.bottom-footer a {
  color: black;
}

.bottom-footer a:hover {
  color: white;
}

.main-container {
  margin-bottom: 20px;
}
